.introduce {
     text-align: center;
    }

.indexInput {
     padding-top: 30px;
     padding-left: 20px;
}

.input {
     padding-top: 30px;
     padding-left: 20px;
}

.checkcontent {
     padding-left: 20px;
}

.findContent {
     padding-left: 20px;
}

.exInput {
     padding-left: 20px;
}

.exContent{
     padding-left: 20px;
}

.objectPalette {
     padding-left: 20px;     
}